<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon-enhanced.png" />
  <link rel="stylesheet" href="html/css/login.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <title>F S Quest - Login</title>
</head>
  <form action="/register" method="post">
    <img src="../images/signupill.png" alt="" />
    <div class="register">
        <div class="welcome">
            <h1 class="titletext">Create an account</h1>
            <span>Let's get started.</span>
        </div>
        <div class="inputs">
            <span>Username</span><br>
            <input class="inputbox" placeholder="Enter your username" id="signupUsername" name="username"/><br />
            <span>Email<br /></span>
            <input class="inputbox" placeholder="Enter your email" id="signupEmail" name="email"/><br />
            <span>Password<br /></span>
            <input type="password" class="inputbox" placeholder="••••••••" id="signupPassword" name="password"/>
        </div>
        <p class="back-1"><a class="tag1" href="../index.html">&#8592; Back</a></p>
        <button>Sign up</button>
        <div class="signupline">
            <span>Already have an account?</span>
            <span class="signinbutton"> Sign in</span>
        </div>
    </div>
</form>
</body>

</html>